.section-about {
  background-color: $color-grey-light-1;
  padding: 35rem 0;
  margin-top: -20vh;
}

.section-features {
  margin-top: -10vh;
  height: 70vh;
  padding: 20rem 0;
  background-image: linear-gradient(
      to left top,
      rgba($color-primary-light, 0.712),
      rgba($color-primary-dark, 0.712)
    ),
    url(../../img/nat-4.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  // clip-path: polygon(0 20vh, 100% 0, 100% 75vh, 0 100%);
  transform: skewY(-7deg);
  & > * {
    //skew only direct child > (row)
    transform: skewY(7deg);
  }
}

.section-tours {
  background-color: $color-grey-light-1;
  padding: 30rem 0 10rem 0;
  margin-top: -10vh;
  line-height: 6rem;
}

.section-stories {
  padding: 5rem 0 15rem 0;
  background-color: $color-grey-light-1;
}
