.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  &__side {
    transition: 2s;
    background-color: orangered;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;

    &--front {
      height: 1rem;
      background-color: orangered;
    }
    &--back {
      height: 1rem;
      background-color: green;
      //already rotated 180deg
      transform: rotateY(180deg);
    }
  }

  &:hover &__side--front {
    transform: rotateY(180deg);
  }
  &:hover &__side--back {
    transform: rotateY(0);
  }
}
