.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  &__side {
    height: 50rem;
    transition: 2s;
    background-color: orangered;
    &--front {
      background-color: orangered;
    }
    &--back {
      background-color: green;
    }
  }

  &:hover &__side {
    transform: rotateY(180deg);
  }
}
