.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  background-color: orangered;
  height: 50rem;
  transition: 2s;
  &:hover {
    transform: rotateY(180deg);
    background-color: blue;
  }
}
