.composition {
  position: relative;

  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 1rem rgba($color-black, 0.4);
    border-radius: 2px;
    position: absolute;
    transition: 0.2s all;
    outline-offset: 2rem;

    &--p1 {
      top: 0rem;
      left: 0;
      ////
      @include respond(tab-port) {
        top: -1.5rem;
        left: -0.1rem;
      }
    }

    &--p2 {
      top: 13rem;
      left: 6rem;
      ////////
      @include respond(tab-port) {
        top: 2rem;
        left: 10rem;
      }
    }
    &--p3 {
      top: 3rem;
      left: 20rem;
      ////
      @include respond(tab-port) {
        top: 7rem;
        left: 23rem;
      }
    }
    &--p1:hover {
      outline: 1.5rem solid $color-primary;
      transform: scale(1.1) translateY(0.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.4);
      z-index: 1;
    }
    &--p2:hover {
      outline: 1.5rem solid $color-primary;
      transform: scale(1.1) translateY(0.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.4);
      z-index: 1;
    }
    &--p3:hover {
      outline: 1.5rem solid $color-primary;

      transform: scale(1.1) translateY(0.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.4);
      z-index: 1;
    }
  }
  //decrease images that are not been hovered
  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}
