.story {
  //   border: 1px solid red;
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 2rem 4.7rem -2.6rem rgba(0, 0, 0, 0.75);
  background-color: $color-white;
  border-radius: 3px;
  padding: 6rem;
}
