.header {
  line-height: 6rem;
  height: 85vh;
  background-image: linear-gradient(
      to left top,
      rgba($color-primary-light, 0.712),
      rgba($color-primary-dark, 0.712)
    ),
    url(../../img/hero-small.jpg);
  background-size: cover;
  background-position: top;
  position: relative;

  @supports ((clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0))) {
    height: 95vh;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 55vh, 0 90%);
    clip-path: polygon(0 0, 100% 0, 100% 55vh, 0 90%);
  }

  // RESOLUTION MEDIA
  @media (min-resolution: 1100dpi) and (min-width: 37.5em),
    (-webkit-min-device-pixel-ration: 2) and (min-width: 37.5em),
    (min-width: 125em) {
    background-image: linear-gradient(
        to left top,
        rgba($color-primary-light, 0.712),
        rgba($color-primary-dark, 0.712)
      ),
      url(../../img/hero.jpg);
  }

  @include respond(tab-land) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 80%);
  }
  @include respond(tab-port) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 45vh, 0 62%);
    clip-path: polygon(0 0, 100% 0, 100% 45vh, 0 62%);
  }
  @include respond(phone) {
    height: 75vh;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 30vh, 0 50%);
    clip-path: polygon(0 0, 100% 0, 100% 30vh, 0 50%);
  }
  padding: 2em;
  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }
  &__logo {
    height: 4.5rem;
    animation-name: moveDownLogo;
    animation-duration: 2s;
  }
  &__text-box {
    position: absolute;
    top: 35%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);

    @include respond(phone) {
      top: 28%;
    }
  }
}
