.header {
  line-height: 6rem;
  height: 60vh;
  background-image: linear-gradient(
      to left top,
      rgba($color-primary-light, 0.712),
      rgba($color-primary-dark, 0.712)
    ),
    url(../../img/hero-small.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 45vh, 0 100%);

  // RESOLUTION MEDIA
  @media (min-resolution: 192dpi) and(min-width:37.5em), (min-width: 125em) {
    background-image: linear-gradient(
        to left top,
        rgba($color-primary-light, 0.712),
        rgba($color-primary-dark, 0.712)
      ),
      url(../../img/hero.jpg);
  }

  @include respond(phone) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 92%);
    clip-path: polygon(0 0, 100% 0, 100% 45vh, 0 92%);
  }
  padding: 2em;
  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }
  &__logo {
    height: 4.5rem;
    animation-name: moveDownLogo;
    animation-duration: 2s;
  }
  &__text-box {
    position: absolute;
    top: 35%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
  }
}
